a:hover {
    color: #FFCC00;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color:white;
    /* text-shadow: 1px 1px #FFCC00 !important; */
}

img {
    height: 300px;
    width: 200px;
    object-fit: contain;
}

.yellow-shadow {
    text-shadow: 1px 1px #FFCC00 !important;
}
